[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl
	shallow = true
[submodule "libs/bgmlib"]
	path = libs/bgmlib
	url = https://github.com/nmlgc/bgmlib
[submodule "libs/th_tool_shared"]
	path = libs/th_tool_shared
	url = https://github.com/nmlgc/th_tool_shared
